.box {
    height: 500px;
    width: 70%;
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 6rem;
}

.box-title {
    background-color: rgb(12, 113, 61);
    height: 40px;
    padding-left: 12px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: .5px solid #000;
    color: #fff;
    line-height: 40px;
}

.box-content {
    padding-left: 2rem;
}

.box-content img {
    height: 260px;
    display: block;
    margin: auto;
    margin-top: 2rem;
    
}

